body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../../assets/imgs/backgroundHome.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.nav-di{
background-color:rgb(116, 86, 86);
text-align: left;
align-items: center;
height: auto;
display: flex;
}
